<h1> All Listings </h1>
<p><a href="/listings/new"> Post a listing </a> </p>

<ul>
<% @listings.each do |listing| %>
  <h2><a href="/listings/<%=listing[:id] %>"><%= listing[:nickname] %></a> </h2>
  <li><%= image_tag listing.image_url %></li>
  <li> Address: 
  <%= listing[:address] %>
  </li>
  <li> Neighborhood: 
  <%= listing[:neighborhood] %>
  </li>
  <li> Description: 
  <%= listing[:description] %>
  </li>
  <li> Price: $
  <%= listing[:price_per_night] %>
  </li>
<% end %>
</ul>
