<h1><%= @listing.nickname %></h1>
<p> <%= image_tag @listing.image_url %> </p>
<p> <%= @listing.address %> </p>
<p> <%= @listing.neighborhood %> </p>
<p> <%= @listing.description %> </p>
<p> <%= @listing.price_per_night %> </p>

<a href="/listings/<%= @listing.id %>/bookings/new"> Book Now </a> 