<h1><%= @listing[:nickname] %></h1>
<p> <%= @listing[:image_url] %> </p>
<p> <%= @listing[:address] %> </p>
<p> <%= @listing[:neighborhood] %> </p>
<p> <%= @listing[:description] %> </p>
<p> <%= @listing[:price] %> </p>

<%=link_to “New booking”, new_listing_booking(@listing) %> 