<h2> <%= @user.email %>'s account </h2>

<h3> Requests </h3>
  <% @user.requested_bookings.flatten.each do |booking| %>
    <p> <%= booking.user.email %> </p>
    <p> <%= booking.start_on %> </p>
    <p> <%= booking.end_on %> </p>

    <% if booking.is_pending? %>
      <p> <%= booking.state %> </p>
        <%= form_tag('/update', method: 'post') do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag('Confirm') %>
        <% end %>
    <% else %>
      <p> <%= booking.state %> </p>
    <% end %>
  <% end %>

<h3> Your Bookings </h3>
  <% @user.bookings.each do |booking| %>
    <p> <%= booking.user.email %> </p>
    <p> <a href="/listings/<%= booking.listing.id %>"> <%= booking.listing.nickname %> </a> </p> 
    <p> <%= booking.start_on %> </p>
    <p> <%= booking.end_on %> </p>
    <p> <%= booking.state %> </p>
  <% end %>

<%= image_tag(@user.image_url) %>

<p> <%= @user.bio %> </p>